.logocoba img{
    width: 20%;
    height: auto;
    padding-bottom: 1%;
}
.cerdas1 {
    padding-top: 5%;
    padding-bottom: 2%;
}
.your{
    padding-bottom: 4%;
}
.carousel-inner {
    max-width:60%;
    height: auto;
    margin: auto;
  }
.mentor1 {
    padding-top: 5%;
    padding-bottom: 2%;
}
.mentor2{
    padding-bottom: 4%;
}